.video-popup {
  position: relative;
  padding-top: 38px;
  padding-right: 14px;
  width: auto;
  max-width: 900px;
  margin: 20px auto;
  .mfp-close { 
  	color: #FFF
  }
  .jw-tab-focus {
  	outline: none !important;
  }  
}

