//===============================================
// Profile box
//
// These are the person profile boxes
// that show the circular image, title, and
// subtitle. Its surrounded by the light
// gray rounded border. Its used to list
// faculty on the degree programs page.
//===============================================
.profile-box {
  text-align: center;
  border: 2px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin: 40px 10px 20px;
  .photo {
    margin: auto;
    width: 100px;
    height: 100px;
    background-size: cover;
    border-radius: 50%;
    margin-top: -40px;
    background-color: #CCC;
  }
  .title {
    font-size: 20px;
    margin: 10px 0 5px;
  }
  .subtitle {
  }
}
